<div>
  <h3>Задание</h3>
<prev>Разработать веб-приложение,имеющее HTML-страницу с формой ввода данных и HTML-страницу для представления результатов.
 Результат расчёта должен быть представлен в форме таблицы, оформленной с помощью элемента table или отдельными ячейками
 div и имеющей не менее двух колонок. Если по условию задания результат может быть представлен только
 в виде одной строки таблицы, необходимо реализовать вывод промежуточных результатов расчёта в качестве дополнительных строк.
 В этом случае первой колонкой таблицы будет порядковый номер итерации.</prev>
<br/><br/>
  <%= form_tag('/check_friend', :method => 'get') do %>
    <%= label_tag('Введите число') %>
    <%= text_field_tag(:a) %>
    <br/><br/>
    <%= submit_tag('Подтвердить') %>
  <% end %>
</div>
